<%- include('partials/header', { title: 'Erro 404 - P치gina n칚o encontrada' }) %>

<div class="container">
  <h2>Erro 404 - P치gina n칚o encontrada</h2>
  <p>A p치gina que voc칡 est치 procurando n칚o existe ou foi movida.</p>
  <a href="/"><button>Voltar para a p치gina inicial</button></a>
</div>
<!-- Bot칚o de altern칙ncia de tema -->
<button id="toggle-theme" class="toggle-theme" aria-label="Alternar tema">游깿</button>
<%- include('partials/footer') %>
