<!-- views/admin.ejs -->
<%- include('partials/header', { title: 'Admin Dashboard' }) %>

<div class="container">
  <h2>Admin Dashboard</h2>
  
  <div class="dashboard">
    <div class="card">
      <h3>Total de Usuários</h3>
      <p id="totalUsers">0</p>
    </div>
    <div class="card">
      <h3>Tickets em Aberto</h3>
      <p id="totalTickets">0</p>
    </div>
    <div class="card">
      <h3>Tickets Pendentes</h3>
      <p id="pendingTickets">0</p>
    </div>
    <div class="card">
      <h3>Finalizados não Pagos</h3>
      <p id="completedTickets">0</p>
    </div>
    <div class="card">
      <h3>Tickets Vencidos</h3>
      <p id="dueTickets">0</p>
    </div>
    <div class="card">
      <h3>Vence Hoje</h3>
      <p id="todayTickets">0</p>
    </div>
    <div class="card">
      <h3>Próximos 2 Dias</h3>
      <p id="upcomingTickets">0</p>
    </div>
  </div>
  <!-- Gráfico de Status dos Tickets -->
  <div class="chart-container">
    <canvas id="ticketStatusChart" width="400" height="200"></canvas>
  </div>

</div>

<!-- Modal para tickets vencidos -->
<div id="overdueTicketsModal" class="modal">
  <div class="modal-content">
    <span class="close" id="closeOverdueModal">&times;</span>
    <h3>Tickets Vencidos</h3>
    <div id="overdueTicketsList">
      <!-- Conteúdo dinâmico aqui -->
    </div>
  </div>
</div>

<%- include('partials/footer') %>
<%- js('fetchDashboardData.js') %>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
